/* Убедитесь, что root занимает всю высоту и ширину */
#root {
  height: 100%;
  width: 100%;
  margin: 0; /* Убирает отступы */
  padding: 0; /* Убирает внутренние отступы */
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* или используйте цвет фона для светлой темы */
}
